<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

<!--
	<listener>
		<description>Configura o Component Factory da aplicação.</description>
		<listener-class>br.eti.hmagalhaes.bomclima.web.context.ComponentFactoryServletContextListener</listener-class>
	</listener>
	<listener>
		<description>Configura o suporte ao H2DB</description>
		<listener-class>br.eti.hmagalhaes.bomclima.web.context.H2DBInitServletContextListener</listener-class>
	</listener>
	-->
	
</web-app>
